name: Laravel CD
on:
  workflow_dispatch:
  repository_dispatch:
    types: [Deploy]

jobs:
  Deploy:
    name: Deploy website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Frontend
        run: |
          npm install
          npm run prod

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer/lock')}}
          restore-keys: |
            composer-

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: copy .env file
        run: |
          cp .env.ci .env

      - name: Install composer
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          composer update -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: |
          php artisan key:generate
        env: |
          APP_ENV: production
          APP_DEBUG: false
          DB_CONNECTION: mysql
          DB_HOST: sql106.ezyro.com
          DB_DATABASE: ezyro_36918755_test
          DB_USERNAME: ezyro_36918755	
          DB_PASSWORD: testing        

      - name: Directory Permissions
        run: |
          chmod -R 777 storage bootstrap/cache

      - name: Clear cache
        run: |
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpupload.net
          username: ezyro_36918755
          password: testing
          server-dir: /htdocs/
