name: Laravel CD
on:
  workflow_dispatch:
  repository_dispatch:
    types: [Deploy]

jobs:
  Deploy:
    name: Deploy website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Frontend
        run: |
          npm install
          npm run prod

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer/lock')}}
          restore-keys: |
            composer-

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install composer
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --no-dev --optimize-autoloader
          
      - name: copy .env file
        run: |
          cp .env.ci .env
      
      - name: Update .env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Generate key
        run: |
          php artisan key:generate     

      - name: Directory Permissions
        run: |
          chgrp -R www-data storage bootstrap/cache
          chmod -R ug+rwx storage bootstrap/cache


      - name: Clear cache
        run: |
          php artisan config:clear
          php artisan config:cache
          php artisan event:cache
          php artisan route:cache
          php artisan view:cache  
          php artisan optimize

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpupload.net
          username: ezyro_36918755
          password: testing
          server-dir: /htdocs/
