name: Laravel CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer/lock')}}
          restore-keys: |
            composer-

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: copy .env file
        run: |
          cp .env.ci .env

      - name: Install composer
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: |
          php artisan key:generate

      - name: Check error code
        run: |
          composer code-sniff

  trigger-cd:
    needs: [tests]
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger CD
        uses: peter-evans/repository-dispatch@v3
        with:
          event-type: Deploy

