name: Laravel CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - frontend
      - backend

jobs:
  build-js-production:
    name: Build Frontend Dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: NPM Build
        run: |
          npm install
          npm run prod
      - name: Put built assets in Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: assets
          path: public
          retention-days: 3
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [build-js-production]

    steps:
      - name: Fetch built assets from Artifacts
        uses: actions/download-artifact@v4
        with:
          name: assets
          path: public

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer/lock')}}
          restore-keys: |
            composer-

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: copy .env file
        run: |
          cp .env.ci .env

      - name: Install composer
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          composer update -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: |
          php artisan key:generate

      - name: Directory Permissions
        run: |
          chmod -R 777 storage bootstrap/cache

      - name: Check error code
        run: |
          composer code-sniff

  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [tests]
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Fetch built assets from Artifacts
        uses: actions/download-artifact@v4
        with:
          name: assets
          path: public

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer/lock')}}
          restore-keys: |
            composer-

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
      
      - name: Clear cache
        run: |
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
      
      - name: Make storage link
        run: |
          php artisan storage:link

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpupload.net
          username: ezyro_36914490
          password: stroz
          local-dir: ./public/
          server-dir: /htdocs/
          dry-run: true

  laravel-deploy:
    name: Deploy to FTP
    runs-on: ubuntu-latest
    needs: [tests]
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Fetch built assets from Artifacts
        uses: actions/download-artifact@v4
        with:
          name: assets
          path: public

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('**/composer/lock')}}
          restore-keys: |
            composer-

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
      
      - name: copy .env file
        run: |
          cp .env.ci .env

      - name: Install composer
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          composer update -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: |
          php artisan key:generate

      - name: Directory Permissions
        run: |
          chmod -R 777 storage bootstrap/cache
      
      - name: Clear cache
        run: |
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
      
      - name: Make storage link
        run: |
          php artisan storage:link

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftpupload.net
          username: ezyro_36914490
          password: stroz
          server-dir: /htdocs/laravel/
          dry-run: true
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/public/**